@use "../../abstracts/colors";

.avatarWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.avatar{
    width: 9rem;
    height: 9rem;
    background: map-get(colors.$avatar, "background");
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: .6rem solid map-get(colors.$avatar, "spots");
    cursor: pointer;
    
    &__head{
        width: 40%;
        height: 40%;
        background: map-get(colors.$avatar, "spots");
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .8s all;
    }

    &__body{
        width: 70%;
        height: 50%;
        background: map-get(colors.$avatar, "spots");
        border-radius: 50%;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover &Head{
        transform: translate(-50%, -50%) scale(1.1);
    }
}