@use "./abstracts/colors";

body{
    min-height: 100vh;
    padding: 4rem;
    background: linear-gradient(#863A6F, 60%, #FFADBC);
    display: flex;
    justify-content: center;
    align-items: center;
}
